QPushButton {
    background-color: #A6CDE7;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

file_buttons:hover {
    QPushButton-color: #106EBE;
}
 QLabel {
        font-size: 20px;
        font-weight: bold;
        color: #333;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }